@font-face {
    font-family: 'fontGame';
    src: url(./fonts/Pony.ttf);
}

.game {
    background-image: url(../../public/assets/img/bgGame.png);
    width: 100vw;
    height: 100vh;
    position: fixed;
    font-family: "fontGame";
}

.btnGame {
    width: 200px;
    height: 200px;
    font-size: 50px;
    border: 5px solid rgb(82, 238, 98);
    border-radius: 25px;
}